.modal-footer {
	button[type="button"] {
		--bs-btn-bg: #6c757d;
		--bs-btn-border-color: #6c757d;
		--bs-btn-hover-bg: #5c636a;
		--bs-btn-hover-border-color: #565e64;
		--bs-btn-color: var(--bs-white);
		--bs-btn-hover-color: var(--bs-white);
	}
}